<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <ol>
    {{#each data}}    
        <li><a href={{this.url}}>{{this.name}}</a></li>
    {{/each}}
    </ol>

    <script type="text/javascript" src="/js/directory.js"></script>
</body>
</html>