<link rel="stylesheet" href="/css/error.css" type="text/css" />
<section class="page_404">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 ">
                <div class="col-sm-10 col-sm-offset-1  text-center">
                    <div class="four_zero_four_bg">
                        <h1 class="text-center ">Ooops!</h1>
                    </div>

                    <div class="contant_box_404">
                        <h3 class="h2">
                            {{error}}
                        </h3>

                        <p>{{errno}}</p>

                        <a href="/github" class="link_404">Go to Home</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>