<!DOCTYPE html>
<html lang="en">

<head>
    <link href="https://fonts.googleapis.com/css2?family=Lato&family=Raleway:wght@600;900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/erroragain.css" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>error</title>
</head>

<body>
    <h1>
        <a href="" class="typewrite" data-period="2000" data-type='[ "{{error}}", "Error Code: {{errno}}" ]'>
            <span class="wrap"></span>
        </a>
    </h1>

</body>
<script src="js/error.js"></script>

</html>