<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form onsubmit="get_action(this);" method="post" id="getOutput">
      <input
        type="text"
        id="username"
        name="username"
        placeholder="username"
      /><br />
      <input type="text" id="repo" name="repo" placeholder="repo" /><br /><br />
      <input type="submit" value="Submit" />
    </form>
    <script type="text/javascript">
      function get_action(form) { 
        form.action = window.location.href+"/"+document.getElementById("username").value+"/"+document.getElementById("repo").value;
        }
    </script>
  </body>
</html>