<link rel="stylesheet" href="/css/authPopUp.css" id="stylesheet" />
<script
  src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"
></script>
<div class="md-modal md-effect-1" id="modal-1">
  <div id="pop-up" class="md-content">
    <h3>Authenticated ✔️</h3>
    <button class="md-close" id="md-close">Close me!</button>
  </div>
</div>

<div id="overlay" class="md-overlay"></div><!-- the overlay element -->
<script src="/js/authPopUp.js"></script>