html,
body {
  width: 100%;
  height: 100%;
}
body {
  text-align: center;
  background-color: Black;
  text-align: center;
  color: #fff;
  padding-top: 10em;
}

* {
  text-align: center;
  font-family: "Raleway";
  color: #fff;
  text-decoration: none;
  height: 100%;
}
