@import url("https://fonts.googleapis.com/css?family=Gruppo");
@font-face {
  font-family: "BeautifulBloom-Alt";
  src: url("../assets/fonts/BeautifulBloom/BeautifulBloom-Alt.eot");
  src: url("../assets/fonts/BeautifulBloom/BeautifulBloom-Alt.eot?#iefix")
      format("embedded-opentype"),
    url("../assets/fonts/BeautifulBloom/BeautifulBloom-Alt.svg#BeautifulBloom-Alt")
      format("svg"),
    url("../assets/fonts/BeautifulBloom/BeautifulBloom-Alt.ttf")
      format("truetype"),
    url("../assets/fonts/BeautifulBloom/BeautifulBloom-Alt.woff") format("woff"),
    url("../assets/fonts/BeautifulBloom/BeautifulBloom-Alt.woff2")
      format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "product_sansbold";
  src: url("../assets/fonts/ProductSans/product_sans_bold_700-webfont.woff2")
      format("woff2"),
    url("../assets/fonts/ProductSans/product_sans_bold_700-webfont.woff")
      format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "product_sansregular";
  src: url("../assets/fonts/ProductSans/product_sans_400-webfont.woff2")
      format("woff2"),
    url("../assets/fonts/ProductSans/product_sans_400-webfont.woff")
      format("woff");
  font-weight: normal;
  font-style: normal;
}

.theme-light {
  --font-color-primary: black;
  --background-color-secondary: #f5f9fc;
  --bg-invert: #3a3a3a;
  --background-color: white;
  --image-border1: coral;
  --color-accent-2: #b266ff;
  --hover-color: whitesmoke;
  --color-accent: #eaedf2;
  --font-color-head: #525f7f;
  --text-primary: black;
}
.theme-dark {
  --text-primary: white;
  --font-color-primary: white;
  --background-color-secondary: black;
  --background-color: #3a3a3a;
  --bg-invert: white;
  --image-border1: #caa81b;
  --color-accent-2: #b3f8f8;
  --hover-color: #242526;
  --color-accent: #77838c;
  --font-color-head: #ebeef2;
}

.msg {
  font-family: "Raleway", sans-serif;
  font-size: 12px;
  width: auto;
  background-color: rgb(11, 122, 11);
  color: whitesmoke;
  /* width: 100px; */
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  /* animation: fadeOut 2s forwards;
  animation-delay: 2s; */
}
/* @keyframes fadeOut {
  from {
    opacity: 1;
    display: block;
  }
  to {
    opacity: 0;
    display: none;
  }
} */
.signature {
  font-family: "BeautifulBloom-Alt";
  font-size: 25px;
  padding-left: 5px;
  color: var(--font-color-primary);
}
.gc {
  border: 1px solid black;
  border-radius: 3px;
  padding: 5px;
  color: #35b7ff;
}

a {
  text-decoration: none !important;
}

.run-bt {
  border-radius: 25px;
  outline: none !important;
}

.body {
  background-color: var(--background-color-secondary);
}
.name {
  font-size: 15px;
  color: var(--text-primary);
  font-family: "product_sansregular";
}
#editor {
  /* width: 80% !important; */
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  min-width: 60vw;
  max-width: 80vw;
  min-height: 80vh;
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 15px;
  border-radius: 5px;
}
/* #editor {
  width: 100%;
  height: 68%;
  float: left;
  letter-spacing: 1px;
  
} */
#getOutput {
  height: 10%;
}
.options {
  text-align: center;
  height: 100%;
  width: 100%;
}
.heading {
  margin: 10px;
  color: var(--text-primary);
  font-family: "product_sansbold", sans-serif;
  font-size: 25px;
}
.opContainer {
  display: inline-flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  background-color: var(--background-color);
  height: 100% !important;
}
.options_selection {
  padding: 10px;
  border: none;
  text-align: center;
  -webkit-appearance: none;
  font-family: "Montserrat", sans-serif;
  font-size: 10px;
  color: #333;
  font-weight: bolder;
  min-width: 10%;
  background-color: #f2f2f2;
  border-radius: 10px;
}

.options .options_selection:focus {
  outline: none;
}

select::-ms-expand {
  display: none;
}

.text {
  min-height: 15%;
  font-size: 17px;
  font-weight: 500;
  font-family: "Raleway", sans-serif;
  color: lightgrey;
}

#io {
  min-width: 100%;
  max-width: 100%;
  display: inline-flex;
  justify-content: space-around;
}

#input,
#output {
  outline: none;
  min-height: 20vh;
  width: 30%;
  resize: none;
  border: none;
  background-color: var(--background-color);
  color: var(--text-primary);
  padding: 15px;
  font-weight: 500;
  font-size: 15px;
  margin-top: 30px;
  border-radius: 4px;
}

.but1 {
  outline: none;
  height: 40px;
  text-align: center;
  width: 100px;
  border-radius: 40px;
  background: #fff;
  border: 2px solid#35b7ff;
  color: #35b7ff;
  letter-spacing: 1px;
  text-shadow: 0;
  font-size: 12px !important;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.25s ease;
}

.but1:hover {
  color: white;
  background: #35b7ff;
}

.but1:active {
  letter-spacing: 2px;
}

.but1:after {
  content: "▶ RUN";
}

.onclic {
  width: 40px;
  border-color: #bbbbbb;
  border-width: 3px;
  font-size: 0;
  border-left-color: #35b7ff;
  animation: rotating 2s 0.25s linear infinite;
}

.onclic:after {
  content: "";
}

.onclic:hover {
  color: #35b7ff;
  background: white;
}

.validate {
  font-size: 13px;
  color: white;
  background: #35b7ff;
}

.validate:after {
  font-family: "FontAwesome";
  content: "\f00c";
}

@keyframes rotating {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
.foot {
  position: absolute;
  width: 100%;
  bottom: 0%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 300;
  color: whitesmoke;
  background-color: black;
  font-family: "Raleway", sans-serif;
  padding: 10px;
}
.userInfo {
  min-width: 100%;
  display: inline-flex;
  padding-left: 50px;
  padding-bottom: 20px;
  justify-content: space-between;
  margin-top: 10px;
}
.dp {
  height: 75px;
  width: 75px;
  border-radius: 100px;
  border: var(--text-primary) 2px solid;
}

.ui-text {
  min-height: 100%;
  padding: 10px;
  padding-left: 20px;
  font-size: 15px;
  font-weight: bolder;
}

@media (max-width: 767px) {
  #editor {
    width: 100vw;
    font-size: 10px;
  }
  .name {
    display: none;
  }
  .gc {
    border: none !important;
    padding: 0px;
  }
}
