#wrapper {
  font-family: Lato;
  font-size: 1.5rem;
  text-align: center;
  box-sizing: border-box;
  color: #333;
}

body {
  font-family: "Raleway";
  height: 100vh;
  display: flex;
  background-size: cover;
  justify-content: center;
  align-items: center;
  background-image: url("../assets/images/2787662.jpg");
}

#wrapper #dialog {
  border: solid 1px #ccc;
  margin: 10px auto;
  padding: 20px 30px;
  display: inline-block;
  box-shadow: 0 0 4px #ccc;
  background-color: #faf8f8;
  overflow: hidden;
  position: relative;
  max-width: 450px;
  border-radius: 20px;
}
.msg {
  background-color: black;
  color: yellow;
}

#wrapper #dialog h3 {
  margin: 0 0 10px;
  padding: 0;
  line-height: 1.25;
}

#wrapper #dialog span {
  font-size: 90%;
}

#wrapper #dialog #form {
  max-width: 240px;
  margin: 25px auto 0;
}

#wrapper #dialog #form input {
  margin: 0 5px;
  text-align: center;
  line-height: 80px;
  font-size: 50px;
  border: solid 1px #ccc;
  box-shadow: 0 0 5px #ccc inset;
  outline: none;
  width: 20%;
  transition: all 0.2s ease-in-out;
  border-radius: 3px;
}

#wrapper #dialog #form input:focus {
  border-color: purple;
  box-shadow: 0 0 5px purple inset;
}

#wrapper #dialog #form input::selection {
  background: transparent;
}

#wrapper #dialog #form button {
  margin: 30px 0 50px;
  width: 100%;
  padding: 6px;
  background-color: #b85fc6;
  border: none;
  text-transform: uppercase;
}

#wrapper #dialog button.close {
  border: solid 2px;
  border-radius: 30px;
  line-height: 19px;
  font-size: 120%;
  width: 22px;
  position: absolute;
  right: 5px;
  top: 5px;
}

#wrapper #dialog div {
  position: relative;
  z-index: 1;
}

#wrapper #dialog img {
  position: absolute;
  bottom: -70px;
  right: -63px;
}
